@tailwind base;
@tailwind components;
@tailwind utilities;



  :root {
    --background: #292F36;
    --foreground: #ededed;
  }


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.own{
  border-radius: 35% 0%;
}
.own1{
  border-radius: 25% 0%;
}

.shad{
  box-shadow: #12F7D6 3px 3px 2.6px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}

.backgound{
  background-image: url(https://www.studystream.live/blog/content/images/2023/01/code-g639260dc4_1920.jpg);
  position: relative;
  z-index: -20;
}